.indexp
  .container
    .row
      .col-md-12
    .row
      .col-md-12
    .row
      .col-md-12
        %p#notice= notice
        %p
          = @comment.body
        %p
          = @comment.user.username
          Commented On #{@comment.created_at.strftime("%B %d %Y, %l:%M%P")}
        = render 'replies/index', replies: @comment.replies
        = render 'replies/form', reply: Reply.new , comment_id: @comment.id
        = link_to 'Back', post_path(@comment.post_id)
