.container
  .row
    .float-right
  .col
    = link_to "Create New Post", new_post_path(@post), class: "btn btn-primary float-right"
    = link_to "Back to Home", root_path(), class: "mr-1 btn btn-primary float-right"
  %h3
    %b Posts
  %br/
  %table
    %tr
      %th Title
      %th Body
      %th Email
      %th
    - @posts.each do |post|
      %tr
        %td= link_to post.title, post_path(post)
        %td= post.body
        %td= post.user.email

