<div class="container">
  <div class="row">
      <div class="float-right">
      </div>
    </div>
        <div class="col">
          <%= link_to "Create New Post", new_post_path(@post), class: "btn btn-primary float-right" %>
          <%= link_to "Back to Home", root_path(), class: "mr-1 btn btn-primary float-right" %>
        </div>
      <h3><b>Posts</b></h3>
      <br>
      <table>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Author</th>
          <th>Email</th>
          <th></th>
        </tr>
       
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.user.username&.capitalize %></td>
            <td><%= post.user.email %></td>
            <td><%= link_to 'Show', post_path(post) %></td>
            <!-- <td><%= link_to 'New', new_post_path() %></td> --> 
            <!-- <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
    </table>
  </div>
</div>